.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 5000;
}

.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  outline: none;
  width: auto;
  height: auto;
  max-width: 90vw;
  max-height: 90vh;
  border: none;
  border-radius: 8px;
  background-color: var(--color-white);
  overflow: auto;
}

.image {
  display: block;
  align-items: center;
  margin-bottom: 16px;
  border-radius: 1%;
  width: 100%;
  height: auto;
}

.listInfoModal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  gap: 8px;
  max-width: 100%;
  text-align: start;
}

.item {
  width: auto;
  flex-basis: calc(50% - 16px);
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
}

.authorInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  margin-bottom: 10px;
  position: relative;
}

.authorInfo img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 1;
}

.authorInfo::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  background: var(--color-dark-purple);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  animation: pulse 4s infinite;
  z-index: 0;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(0.6);
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.6);
  }
}

.authorInfo a {
  color: var(--color-primary);
}

span {
  font-weight: 600;
}

.close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  top: 36px;
  right: 36px;
  padding: 10px;
  color: #333;
  border-radius: 50%;
  font-size: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1px) brightness(0.8);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.close:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
}

@media (hover: none) and (pointer: coarse) {
  .close:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
  }
}

/* @media screen and (max-width: 1024px) {
    .close:active {
        background-color: rgba(
            255,
            255,
            255,
            0.8
          ); 
          color: #000; 
    }
} */

@media screen and (min-width: 320px) and (max-width: 480px) {
  .listInfoModal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4px;
    padding: 0;
  }

  .authorInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .item {
    font-size: 14px;
  }

  .close {
    width: 50px;
    height: 50px;
    font-size: 24px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .listInfoModal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4px;
    padding: 0;
  }

  .authorInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .close {
    width: 60px;
    height: 60px;
    font-size: 36px;
  }

  .item {
    font-size: 18px;
  }
}

/* Styles scrollbar (Chrome, Safari) */
.modalContent::-webkit-scrollbar {
  width: 8px;
}

.modalContent::-webkit-scrollbar-track {
  background: transparent;
}

.modalContent::-webkit-scrollbar-thumb {
  background: var(--color-dark-purple);
  border-radius: 10px;
}

.modalContent::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}

/* Firefox */
.modalContent {
  scrollbar-color: var(--color-dark-purple) transparent;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}
